.osm {
  &-home {
    &-grid {
      display: grid;
      grid-template-columns: 1fr;
      grid-row-gap: 16px;

      @media screen and (min-width: 768px) and (max-width: 992px) {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 16px;
      }

      @media screen and (min-width: 992px) and (max-width: 1280px) {
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 16px;
      }

      @media screen and (min-width: 1280px) {
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 24px;
        grid-row-gap: 24px;
      }
    }
  }
}