.osm {
  &-cart {
    margin: 24px auto;
    max-width: 1440px;
    padding: 0 24px;
    min-height: calc(100vh - 182px);

    @media screen and (min-width: 768px) {
      padding: 0 50px;
      width: 100%;
    }

    &-content {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, max-content);
      grid-column-gap: 32px;
      grid-row-gap: 16px;

      @media screen and (min-width: 768px) {
        grid-template-columns: 1fr .65fr;
        grid-template-rows: 1fr;
      }
    }
  }
}