.osm {
  &-home {
    &-carousel {
      width: 100%;
      height: 400px;

      &-item {
        height: 400px;

        img {
          height: 100%;
        }
      }

      :global {
        .slick-list {
          height: 400px;
        }
      }

      @media screen and (min-width: 600px) {
        &-item {
          img {
            object-fit: cover;
            width: 100%;
          }
        }
      }

      @media screen and (min-width: 1024px) and (max-width: 1440px){
        &-item {
          display: block !important;
          margin: 0 auto;
          max-width: calc(100% - 100px);
        }
      }

      @media screen and (min-width: 1440px) {
        height: 600px;

        &-item {
          display: block !important;
          height: 600px;
          margin: 0 auto;
          max-width: 1440px;
        }

        :global {
          .slick-list {
            height: 600px;
          }
        }
      }
    }
  }
}