.osm {
  &-card {
    :global {
      .ant-card-cover {
        height: 224px;
        width: auto;

        img {
          height: 100%;
          object-fit: cover;
          width: 100%;
        }
      }

      .ant-card-meta-description {
        display: -webkit-box;
        line-clamp: 2;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    &-price {
      float: right;
      font-weight: 600;
      font-size: 24px;
      margin-top: 16px;
    }
  }
}