.osm {
  &-product {
    &-card {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, max-content);
      grid-column-gap: 16px;
      grid-row-gap: 16px;

      &-thumbnail {
        height: 100%;
        width: 100%;

        img {
          height: 100%;
          object-fit: cover;
          width: 100%;
        }
      }

      &-data {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        padding: 16px;

        &-price {
          font-size: 24px;
          font-weight: 600;
          margin-top: 16px;
          text-align: right;
          width: 100%;
        }
      }

      &-actions {
        display: flex;
        gap: 32px;
      }

      @media screen and (min-width: 768px) {
        grid-template-columns: .75fr 1fr;
        grid-template-rows: 1fr;
      }
    }
  }
}