.osm {
  &-summary {
    &-left-item {
      align-items: center;
      display: flex;
      justify-content: flex-start;
    }

    &-right-item {
      align-items: center;
      display: flex;
      justify-content: flex-end;
    }
  }
}