.osm {
  &-product {
    margin: 24px auto;
    max-width: 1440px;
    padding: 0 24px;
    min-height: calc(100vh - 182px);

    @media screen and (min-width: 768px) {
      padding: 0 50px;
      width: 100%;
    }
  }
}