.osm {
  &-home {
    &-content {
      border-radius: 8px;
      margin: 24px auto;
      min-height: 400px;
      max-width: 1440px;
      padding: 24px;
      width: calc(100% - 48px);

      @media screen and (min-width: 600px) {
        width: calc(100% - 100px);
      }

      &-title {
        padding-bottom: 24px;

        &::before, &::after {
          background-color: var(--primary-light-color);
        }
      }
    }
  }
}