.osm {
  &-theme {
    &-icon {
      vertical-align: sub;
      fill: var(--dark-text-color);
    }

    &-switch {
      &-light {
        background-color: var(--primary-color) !important;
      }
    }
  }
}