html {
  box-sizing: border-box;
  touch-action: manipulation;

  * {
    box-sizing: border-box;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

ul,
li,
h1,
h2,
h3,
p,
button {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow: hidden;
  overflow-y: auto;
}

#app {
  height: 100%;
}

:root {
  --primary-color: #e65100;
  --primary-light-color: #ffab40;

  --dark-text-color: #fff;
}
