.osm {
  &-header {
    align-items: center;
    display: flex;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;

    &-row {
      width: 100%;
    }

    &-col {
      &-title {
        align-items: center;
        display: flex;
        justify-content: flex-start;

        a {
          display: inline-flex;
        }
      }

      &-options {
        align-items: center;
        display: flex;
        justify-content: flex-end;

        a {
          margin-right: 16px;
        }
      }
    }

    @media screen and (max-width: 600px) {
      padding: 0 24px;
    }
  }
}